<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data miner</title>
</head>
<body>
<h1>Mecanismo de busca</h1>
<input type="text" id="term" placeholder="Termo">
<select id="location" multiple>
    <!-- As opções serão adicionadas aqui pelo JavaScript -->
</select>
<button id="searchButton">Pesquisar</button>

<div id="results"></div>

<script>
    console.log('index.html loaded');
</script>
<script src="../render.js"></script>
</body>
</html>
